Pandas is a powerful Python library used for data manipulation and analysis, offering easy-to-use data structures like Series (one-dimensional) and DataFrame (two-dimensional). It allows users to load data from various formats such as CSV and Excel, clean and filter data, perform statistical operations, and analyze datasets efficiently. Widely used in data science and machine learning, Pandas simplifies handling structured data and supports tasks like grouping, merging, and time series analysis.

In [31]:
import pandas as pd

In [ ]:
# Creating the boston house price data
from sklearn.datasets import fetch_california_housing
california_housing_dataset = fetch_california_housing()
type(california_housing_dataset)

In [ ]:
print(california_housing_dataset)

In [ ]:
# Convert into pandas dataframe
california_housing_df = pd.DataFrame(california_housing_dataset.data, columns=california_housing_dataset.feature_names)
california_housing_df.head()

In [ ]:
california_housing_df.shape

In [ ]:
type(california_housing_df)

In [36]:
# Importing the data from a CSV file to a pandas DataFrame
diabetes_df = pd.read_csv('/content/diabetes.csv')

In [ ]:
type(diabetes_df)

In [ ]:
diabetes_df.head()

In [40]:
# Exporting dataFrame to a csv file
california_housing_df.to_csv('california.csv')

Exporting dataFrame to a excel file
df.to_excel('filename')

In [ ]:
# Creating dataframe with random values

import numpy as np
random_df = pd.DataFrame(np.random.rand(20,10))
random_df.head()

In [ ]:
random_df.shape
type(random_df)

In [ ]:
# Inspecting a DataFrame
#print last five rows in a DataFrame
california_housing_df.tail()

In [ ]:
california_housing_df.info()

In [ ]:
# Finding the number of missing values in each coloumn
california_housing_df.isnull().sum()

In [ ]:
# diabetes dataframe
diabetes_df.head()

In [ ]:
# Counting the values based on labels
diabetes_df.value_counts('Outcome')

In [ ]:
# Group the values based on the mean
diabetes_df.groupby('Outcome').mean()

# Statistical Measures

In [58]:
# Count or numbers of values

california_housing_df.count()

MedInc        20640
HouseAge      20640
AveRooms      20640
AveBedrms     20640
Population    20640
AveOccup      20640
Latitude      20640
Longitude     20640
dtype: int64

In [59]:
# Mean value - column wise
california_housing_df.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [60]:
# Standard deviation - column wise

california_housing_df.std()

MedInc           1.899822
HouseAge        12.585558
AveRooms         2.474173
AveBedrms        0.473911
Population    1132.462122
AveOccup        10.386050
Latitude         2.135952
Longitude        2.003532
dtype: float64

In [63]:
# Minimum value in each column

california_housing_df.min()

MedInc          0.499900
HouseAge        1.000000
AveRooms        0.846154
AveBedrms       0.333333
Population      3.000000
AveOccup        0.692308
Latitude       32.540000
Longitude    -124.350000
dtype: float64

In [64]:
# Maximum value for each column
california_housing_df.max()

MedInc           15.000100
HouseAge         52.000000
AveRooms        141.909091
AveBedrms        34.066667
Population    35682.000000
AveOccup       1243.333333
Latitude         41.950000
Longitude      -114.310000
dtype: float64

In [65]:
# all the statistical measures about the dataframe
california_housing_df.describe()

             MedInc      HouseAge  ...      Latitude     Longitude
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.870671     28.639486  ...     35.631861   -119.569704
std        1.899822     12.585558  ...      2.135952      2.003532
min        0.499900      1.000000  ...     32.540000   -124.350000
25%        2.563400     18.000000  ...     33.930000   -121.800000
50%        3.534800     29.000000  ...     34.260000   -118.490000
75%        4.743250     37.000000  ...     37.710000   -118.010000
max       15.000100     52.000000  ...     41.950000   -114.310000

[8 rows x 8 columns]

# Manipulating a dataframe

In [68]:
# Adding column to a dataframe
california_housing_df['Price'] = california_housing_dataset.target

In [ ]:
california_housing_df.head()

In [ ]:
# Removing a row from dataframe
california_housing_df.drop(index=0, axis=0)

In [ ]:
# Remove a column
california_housing_df.drop(columns='Price', axis=1)

In [ ]:
# Locating a row using index value
california_housing_df.iloc[2]

In [ ]:
# Locating a particular column
print(california_housing_df.iloc[:,0]) # first column
print(california_housing_df.iloc[:,-1]) # last column

# Correlation
1. Positive correlation
2. Negative correlation

In [78]:
california_housing_df.corr()

              MedInc  HouseAge  AveRooms  ...  Latitude  Longitude     Price
MedInc      1.000000 -0.119034  0.326895  ... -0.079809  -0.015176  0.688075
HouseAge   -0.119034  1.000000 -0.153277  ...  0.011173  -0.108197  0.105623
AveRooms    0.326895 -0.153277  1.000000  ...  0.106389  -0.027540  0.151948
AveBedrms  -0.062040 -0.077747  0.847621  ...  0.069721   0.013344 -0.046701
Population  0.004834 -0.296244 -0.072213  ... -0.108785   0.099773 -0.024650
AveOccup    0.018766  0.013191 -0.004852  ...  0.002366   0.002476 -0.023737
Latitude   -0.079809  0.011173  0.106389  ...  1.000000  -0.924664 -0.144160
Longitude  -0.015176 -0.108197 -0.027540  ... -0.924664   1.000000 -0.045967
Price       0.688075  0.105623  0.151948  ... -0.144160  -0.045967  1.000000

[9 rows x 9 columns]